body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  max-width: 40rem;
}

img {
  object-fit: cover;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rey {
  padding: 1rem 1.5rem;
}
p {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}
.description {
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  line-height: 1.5;
}
.spaced {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: clamp(0.4rem, 0.7rem, 1rem);
  margin-top: 1rem;
}

button img {
  height: 15px;
  width: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: "Fraunces", serif;
  margin-bottom: 0.3rem;
}

h1 {
  margin: 0;
  font-size: clamp(2rem, 2.5rem, 3rem);
  font-family: "Fraunces", serif;
}

ul {
  padding: 0.8rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}
li {
  list-style: none;
}

.price {
  font-size: clamp(1.5rem, 2rem, 2.5rem);
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-weight: 700;
}

ul li:nth-child(2) {
  text-decoration: line-through;
}

button:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 47%);
}
@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  .spaced {
    font-size: 1.2rem !important;
  }
  .container {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
  }
  p {
    font-size: 1.4rem !important;
  }
  img {
    border-radius: 0;
    width: 100%;
    height: auto; /* mejor que usar porcentaje aquí */
    aspect-ratio: 4 / 3; /* mantiene proporción de imagen */
    object-position: top;
  }
  button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
  }
  button img {
    height: 20px;
    width: 20px;
  }
}
